body {
  background-color: linear-gradient(rgb(23, 100, 200), rgb(41, 39, 167));
}

.contenedor_imagenes {
  display: grid;

  justify-content: center;
  grid-template-columns: 300px 300px 300px 300px;
}
.contenedor_searchBar {
  display: grid;
  align-items: center;
  justify-content: center;
}
