body {
  background-color: black;
}

.contenedor_imagenes {
  padding: 30px;
  background-color: rgb(0, 0, 0);
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-template-columns: 300px 300px 300px 300px;
  grid-gap: 10px;
}
.contenedor_searchBar {
  height: 120px;
  width: 100%;
  background-color: rgb(87, 59, 148);
  display: flex;
  flex-wrap: 50px;
  align-items: center;
  justify-content: center;
}
.form_search {
  width: auto;
  height: auto;
}
.inputField {
  border-radius: 5px;
  height: 40px;
  width: 600px;
  border: none;
  font-size: larger;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.Submit {
  border-radius: 5px;
  height: 42px;
  width: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.movie_description {
  opacity: 1%;

  position: absolute;

  background-color: rgb(22, 22, 22);
  height: 390px;
  width: 250px;
  border-radius: 35px;

  align-items: center;
  align-content: center;
}

.movie_description:hover {
  opacity: 80%;
  padding-top: 15px;
  padding-left: 5px;

  position: absolute;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: aliceblue;
  height: 390px;
  width: 250px;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
  align-content: center;
}

.movie_paragraph {
  height: 300px;
  width: 250px;
  overflow: hidden;
}
.ver_pelicula {
  background-color: red;
  color: aliceblue;
  border: none;
  align-self: center;
  height: 40px;
  width: auto;
}
.cover_image {
  background-color: cornsilk;
  height: 400px;
  width: 250px;
  border-radius: 5px;
}
.movie_title {
  display: none;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.category_selector {
  border: none;
  margin-left: 80px;
  width: 160px;
  height: 40px;
  font-size: larger;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.pelicula_seleccionada {
  height: 300px;
  width: 300px;
}
.container_movie {
  margin-left: 40px;
  display: grid;
  color: aliceblue;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 100%;
  height: 100%;
}
.movie_tittle {
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.movie_cover {
}
.container_youtube {
  grid-column: 1;
  grid-row: 9 / 9;
  align-items: center;
  align-content: center;
  display: grid;
  color: aliceblue;
}
.movie_rating {
  color: aliceblue;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.movie_fulldescription {
  padding-top: 15%;
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.movie_backgroundimage {
  width: 550px;
}
.container_tittle {
  grid-column: 1 / 3;
  grid-row: 1;
}
.container_description {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.container_images {
  margin: 50px;
  grid-column: 3;
  grid-row: 6 / 6;
}
.download {
  margin: 15px;
  width: 200px;
  height: 100px;
  background-color: rgb(25, 83, 190);
  font-size: larger;
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: none;
}
.download_torrent {
  margin: 15px;
  width: 200px;
  height: 100px;
  background-color: rgb(25, 190, 25);
  font-size: larger;
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: none;
}
.logo_imbd {
  width: 60px;
  height: 30px;
}
.more_results {
  position: relative;
  margin: 15px;
  width: 93%;
  height: 100px;
  background-color: rgb(25, 190, 25);
  font-size: larger;
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: none;
}
.more_results:hover {
  position: relative;
  margin: 15px;
  width: 93%;
  height: 100px;
  background-color: rgb(21, 98, 21);
  font-size: larger;
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: none;
}
.conteiner_ofconteiners {
  background-color: black;
  display: grid;
  align-items: center;
  align-content: center;
}
.conteiner_singleMovie {
  background-color: black;
}
.back_button {
  position: relative;

  width: 120px;
  height: 80px;
  background-color: rgb(195, 24, 24);
  font-size: larger;
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: none;
}
.back_button:hover {
  position: relative;

  width: 120px;
  height: 80px;
  background-color: rgb(90, 14, 14);
  font-size: larger;
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: none;
}
